# 파이썬 기초

## 1. print() 출력 함수

In [1]:
a = 1
b = 2

print(a)

1

In [2]:
print(b)

2

In [3]:
print('자동완성')
print('오타를 방지할 수 있습니다')

자동완성
오타를 방지할 수 있습니다

## 2. 주석(comment)

In [4]:
# 주석: 앞에 #을 붙이면 파이썬 코드를 실행하지 않습니다
# 코드에 대한 설명이나 실행시키고 싶지 않을 때 사용
# ctrl(cmd) + /

## 3. 변수 선언
- RAM 저장공간에 값을 할당

In [5]:
# 1 이라는 값(value)를 a 라는 변수에 할당
a = 1
b = 2
print(a, b)

1 2

In [6]:
d, e = 3, 4
print(d)
# print(e)

3

In [7]:
f = g = 5
print(f)
print(g)

5
5

In [9]:
# 할당하지 않은 변수를 출력하면?
print(z)

NameError: ignored

## 4. 식별자
- 변수, 함수, 클래스, 모듈 등 이름을 식별자라고 합니다
- 식별자 규칙
  - 소문자, 대문자, 숫자, 언더스코어(_) 사용
  - 가장 앞에 숫자 사용 불가
  - 예약어 사용 불가
    - def, class, list, str, int, float...
  - 컨벤션
    - snake case: python_basic
    - camel case: PythonBasic

In [10]:
# 가능한 형태
name = "John"
age = 25
my_var = 3.14
hello_word = 'Hello, World'
IsValid = True

In [11]:
# 불가능한 형태

# def = "John"
# first-name = "John"
# 2nd = 42
# hello word = 'hi'

## 5. 데이터 타입
- RAM 저장공간을 효율적으로 사용하기 위해서 저장공간의 타입을 설정

### 동적타이핑(Dynamic Typing)
- 변수를 선언할 때 명시적으로 데이터 타입을 지정하지 않는 방식

### 정적타이핑
- 변수 선언시 데이터 타입을 직접 설정 후 할당

In [12]:
x = 5
print(x)

5

In [13]:
type(x)

int

### 파이썬 대표적인 데이터 타입 7가지
- int, float, bool, str
- list, tuple, dict

In [14]:
a = 1 # integer 정수
b = 'string'  # string 문자열 pandas object

type(a), type(b)

(int, str)

### 5-1. 기본 데이터 타입
- int: 정수
  - 1, 2, 3
- float: 소수점
  - 1.0, 3.14, 5.0
- str: 문자열
  - 'python', "python", """python"""
- bool: 논리값
  - True, False

In [15]:
a = 1
b = 1.2
c = "True"
d = True
f = '1.2'

In [16]:
type(a), type(b), type(c), type(d), type(f)

(int, float, str, bool, str)

In [17]:
print(a + 1)

2

In [18]:
print(b + 1)

2.2

In [19]:
print(c + 1)

TypeError: ignored

In [ ]:
print(d)

In [ ]:
# 숫자와 논리형 데이터는 연산이 가능합니다
# 1 + True = 2
# True = 1

In [ ]:
# 1 + False = 1
# False = 0
1 + False

In [20]:
a + d

2

### 5-2. 컨테이너 데이터 타입
- list: 여러 개의 값을 순서대로 담을 수 있고, 수정이 가능한 데이터
  - [1, 2, 3]
  - [1, "문자", [1, 2, 3]]
- tuple: 리스트 동일한 내용이지만, 수정이 불가능한 데이터
  - (1, 2, 3)
- dict: 순서가 없고, 키(key) 값(value) 의 쌍으로 이루어진 데이터
  - {"key": "value"}

- 컬렉션 데이터 타입 안에 담긴 데이터를 아이템(item) 또는 원소(element)
- 수정이 가능한 것을 가변(mutable)
- 수정이 불가능한 것을 불변(immutable)

### 리스트 데이터 다루기 연습

In [21]:
# 1. 리스트 데이터 생성
my_li = [1, 5, 4, 6, 111, 111, 10, 45, 3, 2]

In [22]:
# 2. 안에 데이터 몇 개 담겨 있어요?
len(my_li)

10

In [23]:
# 3. 리스트에 값 추가
my_li.append(111)

In [24]:
print(my_li)

[1, 5, 4, 6, 111, 111, 10, 45, 3, 2, 111]

In [25]:
my_li.append([112, 113])

In [26]:
print(my_li)

[1, 5, 4, 6, 111, 111, 10, 45, 3, 2, 111, [112, 113]]

In [27]:
# extend()

my_li.extend([14, 15])

In [28]:
print(my_li)

[1, 5, 4, 6, 111, 111, 10, 45, 3, 2, 111, [112, 113], 14, 15]

In [29]:
# insert()
my_li.insert(1, 10)

In [30]:
print(my_li)

[1, 10, 5, 4, 6, 111, 111, 10, 45, 3, 2, 111, [112, 113], 14, 15]

In [31]:
# 4. 리스트에 특정 값이 있는지 확인!
# value in list -> bool
10 in my_li

True

In [32]:
# 5. 리스트에서 특정 값 삭제
my_li.remove(45)

In [33]:
print(my_li)

[1, 10, 5, 4, 6, 111, 111, 10, 3, 2, 111, [112, 113], 14, 15]

In [34]:
my_li.remove([112])

ValueError: ignored

In [ ]:
my_li

In [35]:
my_li[-3]

[112, 113]

In [36]:
my_li[11].remove(112)

In [37]:
print(my_li)

[1, 10, 5, 4, 6, 111, 111, 10, 3, 2, 111, [113], 14, 15]

In [38]:
my_li.remove([113])

In [39]:
print(my_li)

[1, 10, 5, 4, 6, 111, 111, 10, 3, 2, 111, 14, 15]

In [40]:
# 6. 리스트에서 특정 값 갯수 세기
# count()

my_li.count(111)

3

In [41]:
# 7. 리스트 오름차순 정렬
my_li.sort()

In [42]:
print(my_li)

[1, 2, 3, 4, 5, 6, 10, 10, 14, 15, 111, 111, 111]

In [43]:
# 8. 리스트 데이터 복사
# 얕은복사 깊은복사

In [44]:
li1 = [4, 1, 10]
li2 = li1

print(li1)
print(li2)

[4, 1, 10]
[4, 1, 10]

In [45]:
id(li1), id(li2)

(133147986757248, 133147986757248)

In [46]:
li2.sort()

In [47]:
print(li1)
print(li2)

[1, 4, 10]
[1, 4, 10]

In [48]:
import copy

li1 = [4, 1, 10]
li2 = copy.deepcopy(li1)  # 깊은복사

print(li1)
print(li2)

[4, 1, 10]
[4, 1, 10]

In [49]:
id(li1), id(li2)

(133148375101760, 133148390382528)

In [50]:
li2.sort()

In [51]:
print(li1)
print(li2)

[4, 1, 10]
[1, 4, 10]

In [60]:
# 9. pop()
# 가장 마지막 데이터를 출력하고, 출력한 데이터를 리스트에서 삭제
my_li.pop()

14

In [61]:
print(my_li)

[1, 2, 3, 4, 5, 6, 10, 10]

In [63]:
# 10. 리스트끼리 연산
# + 연산만 가능
a_li = [1, 2, 3]
b_li = [7, 8 ,9]

In [66]:
print(a_li + b_li)

[1, 2, 3, 7, 8, 9]

In [67]:
# 11. 리스트에는 여러 데이터 타입을 할당 할 수 있습니다

li = [1, 2, "3", [5, 6], (7, 8), {"key":"value"}, True, False]
li

[1, 2, '3', [5, 6], (7, 8), {'key': 'value'}, True, False]

In [68]:
li[0]

1

In [71]:
li[4], type(li[4])

((7, 8), tuple)

In [73]:
li

[1, 2, '3', [5, 6], (7, 8), {'key': 'value'}, True, False]

In [72]:
# list[n:m-1]
li[1:3]

[2, '3']

### 5-3. 리스트 데이터에서 인덱스 값을 이용한 특정 데이터 선택
- 인덱싱(Indexing)
  - 단일 요소를 선택하기 위해 사용
  - 인덱스는 0부터 시작하며, []를 사용하여 특정 위치의 요소를 가져옵니다
  - `예: my_list[2] 은 my_list의 세 번째 요소를 가져옵니다`

- 슬라이싱(Slicing)
  - 연속된 범위의 요소를 선택하기 위해 사용
  - [start:end:stride]
  - 시작 인덱스부터 끝 인덱스까지의 범위를 지정하여 요소를 가져옵니다
  - 시작 인덱스는 포함되고, 끝 인덱스는 포함되지 않습니다
  - `예: my_list[1:4] 는 my_list 두 번째 부터 세 번째 요소까지 가져옵니다`

In [74]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
my_str = "Hello, World!"

In [75]:
# 1. 리스트에서 첫 번째 원소에 접근
my_list[0]

10

In [76]:
# 리스트에서 첫 번째 원소부터 세 번째 원소까지 선택해주세요
my_list[0:3]

[10, 20, 30]

In [78]:
#[start:end:stride]
my_list[::2]

[10, 30, 50, 70, 90]

In [83]:
my_str[::-1]

'!dlroW ,olleH'

In [86]:
my_list[2] = 999

In [87]:
my_list

[10, 20, 999, 40, 50, 60, 70, 80, 90, 100]

### 5-3. tuple()
- 리스트 동일한데, 왜 사용?
- 튜플은 리스트 보다 같은 데이터를 가졌을 때 공간을 더 적게 사용

In [88]:
# tuple
tp1 = (1, 2, 3)
tp2 = (4, 5, 6)
type(tp1)

tuple

In [89]:
tp3 = 7, 8, 9
type(tp3)

tuple

In [90]:
tp1[1]

2

In [91]:
tp2[1::-1]

(5, 4)

In [92]:
# 리스트와 튜플의 저장공간 차이 비교

import sys

li = [1, 2, 3]
tp = (1, 2, 3)

In [93]:
print(sys.getsizeof(li))
print(sys.getsizeof(tp))

88
64

In [95]:
li[0] = 10
li

[10, 2, 3]

In [96]:
tp[0] = 10

TypeError: ignored

## 6. 형변환
- 데이터 타입 변환
- int, float, str, bool, list, tuple, dict

In [97]:
a = 1
b = "2"

In [98]:
a + b

TypeError: ignored

In [99]:
a + int(b)

3

In [103]:
print(int(a) + int(b))
print(float(a) + float(b))
print(int(a) + float(b))
print(str(a) + b)

3
3.0
3.0
12

In [104]:
# 형변환 안되는 경우
text = 'python'
int(text)

ValueError: ignored

## 7. 연산자의 종류와 우선순위
- 괄호: () (괄호 안의 표현식이 가장 먼저 계산됨)
- 지수 연산자: **
- 단항 연산자: -(음수), +(양수)
- 곱셉, 나눗셈, 나머지 연산자: *, /, //, %
- 덧셈, 뺄셈 연산자: +, -
- 비교 연산자: <, >, <=, >=, ==, !=
- 논리 연산자: and, or, not
- 멤버 연산자: in, not in
- 항등 연산자: is, is not
- 할당 연산자: =, +=, -=
- 삼항 조건 연산자: if-else 표현식

In [105]:
a = 10
b = 3

In [109]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)  # 나눗셈
print(a // b)  # 몫을 정수로
print(a % b)  # 나머지

13
7
30
3.3333333333333335
3
1

In [110]:
# 할당 연산자
a = 10

In [111]:
a = a + 10
a

20

In [112]:
a = a + 10
a

30

In [113]:
a += 10

In [114]:
a

40

In [115]:
# mini quiz

In [128]:
import random

random.randint(1, 10)

10

In [136]:
import random
# 솔루션을 리스트로 작성
solutions = [
    '포기하지 말고 힘내주세요',
    '집에 가는 것은 어떨까요?',
    '걱정마세요 취업할 수 있어요!',
    '로봇이 세상을 지배할 겁니다.'
]
# 질문 입력 받습니다
question = input('질문을 입력하세요: ')
# 저.. 이거 공부하면 잘될 수 있을까요?
# 솔루션 중, 한 가지 대답을 랜덤하게 선택
idx = random.randint(0, len(solutions) - 1)
# 선택한 대답을 출력 해줍니다
print('='*30)
print('답변: ', solutions[idx])

질문을 입력하세요: 내일 수업 나올까요?
==============================
답변:  로봇이 세상을 지배할 겁니다.