In [1]:
data = 3

while data:
    print(data)
    # data = data - 1
    data -= 1

3
2
1

In [2]:
# break : 반복을 중단할 때 사용 

count = 0 

while True:
    print(count)
    count = count + 1

    if count > 5:
        break

0
1
2
3
4
5

In [3]:
# # 무한루프 

# result = 1 

# while result:
#     result = result + 1
#     print(result)

In [4]:
# continue 
# continue 실행되면, 
# 현재 반복 루프 내에서 continue 문 아래의 코드는 실행되지 않고,
# 반복문의 다음 반복으로 이동

count = 0 
while True:
    # count = count + 1 
    count += 1
    if count >= 10:
        break
    # 짝수 
    if count % 2:
        continue
    print(count)

2
4
6
8

In [5]:
1 == 1, 'q' == 'q', 'python' == 'q'

(True, True, False)

In [6]:
# # mini quiz 
# # while 문을 이용 
# # 'q' 라는 문자열이 입력될 때 까지 
# # 단어를 words 라는 리스트 변수에 입력(append) 받는 코드를 작성
# words = []
# while True:
#     word = input('insert word(q:exit()) : ')
#     if word == 'q':
#         print(words)
#         break
#     words.append(word)

['']

In [7]:
list(In)

['',
 'data = 3\n\nwhile data:\n    print(data)\n    # data = data - 1\n    data -= 1',
 '# break : 반복을 중단할 때 사용 \n\ncount = 0 \n\nwhile True:\n    print(count)\n    count = count + 1\n\n    if count > 5:\n        break',
 '# # 무한루프 \n\n# result = 1 \n\n# while result:\n#     result = result + 1\n#     print(result)    ',
 '# continue \n# continue 실행되면, \n# 현재 반복 루프 내에서 continue 문 아래의 코드는 실행되지 않고,\n# 반복문의 다음 반복으로 이동\n\ncount = 0 \nwhile True:\n    # count = count + 1 \n    count += 1\n    if count >= 10:\n        break\n    # 짝수 \n    if count % 2:\n        continue\n    print(count)',
 "1 == 1, 'q' == 'q', 'python' == 'q'",
 "# mini quiz \n# while 문을 이용 \n# 'q' 라는 문자열이 입력될 때 까지 \n# 단어를 words 라는 리스트 변수에 입력(append) 받는 코드를 작성\nwords = []\nwhile True:\n    word = input('insert word(q:exit()) : ')\n    if word == 'q':\n        print(words)\n        break\n    words.append(word)",
 'list(In)']

In [8]:
# 로또 번호 출력
# (1) 랜덤한 숫자 6개 출력 
# (2) 중복되는 숫자 없이 6개 
# (3) 오름차순 정렬
# (4) 1 ~ 45 숫자 
# [1, 2, 3, 34, 45]

In [9]:
value_list = [1]
1 not in value_list

False

In [10]:
import random 
# print(random.randint(1, 45))
lotto = [] 

while True:
    random_number = random.randint(1, 45)

    if random_number not in lotto:
        lotto.append(random_number)
    
    if len(lotto) >= 6:
        lotto.sort()
        break

print(lotto)
# [1, 2, 3, 34, 45]

[1, 9, 13, 33, 43, 45]

## 2. for 
- 횟수에 의한 반복문
- iterable 한 값을 하나씩 꺼내서 value 에 대입 시킨 후 
- 코드를 iterable 변수의 값 갯수 만큼 실행

In [16]:
# 0 ~ 4까지 값이 있는 데이터 생성
my_li = [0, 1, 2, 3, 4]

print(my_li[0])
print(my_li[1])
print(my_li[2])

0
1
2

In [17]:
for value in my_li:
    print(value)

0
1
2
3
4

In [19]:
datas = []

for value in my_li:
    datas.append(value ** 2)

datas

[0, 1, 4, 9, 16]

In [20]:
# for continue 
# continue 조건 부분으로 올라가서 코드 실행

li = [0, 1, 2, 3, 4]

for data in li:
    # data가 홀수가 되면 continue 실행
    if data % 2:
        continue
    print(data)

0
2
4

In [21]:
# mini quiz 
# 숫자를 하나 입력 받아서 
# 3의 배수이면 fizz
# 5의 배수이면 buzz
# 15의 배수이면 fizzbuzz 출력

In [23]:
number = int(input())
number

1

In [25]:
number = int(input())

if number % 15 == 0:
    print('fizzbuzz')
elif number % 3 == 0:
    print('fizz')
elif number % 5 == 0:
    print('buzz')
else:
    print(number)

2764

In [1]:
# for 문에서 자주 사용하는 함수 
# range
# enumerate
# zip

In [4]:
print(list(range(100)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

### range: 정수의 리스트를 생성하는 함수

In [5]:
# 0부터 9까지 값이 있는 리스트 데이터를 만들어주세요
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
list(range(5, 10))  # (start, end)

[5, 6, 7, 8, 9]

In [9]:
list(range(1, 10, 2))  # (start, end, stride)

[1, 3, 5, 7, 9]

In [11]:
# 0부터 99까지 숫자를 모두 더 해주세요

result = 0 

for data in range(100):
    # result = result + data
    result += data

print(result)

4950

### enumerate() 함수 
- 순서가 있는 데이터 (iterable)를 입력으로 받습니다
    - 리스트 튜플 딕셔너리 
- 각 요소의 인덱스와 값을 함께 반환

In [15]:
ls = ['first', 'second', 'third']

for idx, data in enumerate(ls):
    print(idx, data)

0 first
1 second
2 third

## 2중 for문

In [17]:
# 구구단

for i in range(2, 10):
    for j in range(1, 10):
        print(f'{i} * {j} = {i * j}')
    print()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

## _ 변수 사용

In [28]:
# 10번 출력
# ls = range(11)
_, a = 1, 20
for _ in range(10):
    print('python')

python
python
python
python
python
python
python
python
python
python

In [36]:
ls = [1, 2, 3, [4]]
ls

[1, 2, 3, [4]]

In [33]:
ls[2]

3

In [35]:
ls[3][0]

4

In [37]:
matrix = [[1, 2, 3], 
          [4, 5, 6], 
          [7, 8, 9]]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [43]:
for row in matrix:
    for element in row:
        print(element, end=' ')
    print()

1 2 3
4 5 6
7 8 9

## 3. list comprehension
- 리스트 데이터를 만드는 문법
- for 문 보다 빠르게 동작

In [44]:
ls = [1, 3, 6, 9]

In [45]:
result = [] 

for i in ls:
    result.append(i ** 2)

In [47]:
result = [i ** 2 for i in ls]
result

[1, 9, 36, 81]

In [48]:
words = ['apple', 'banana', 'oragne', 'grape', 'kiwi']

In [49]:
# 문자열 길이가 5 이상인 값만 선택 후, result = [] 저장

In [54]:
result = [] 

for word in words:
    if len(word) > 5:
        result.append(word)
result

['banana', 'oragne']

In [56]:
result = [word for word in words if len(word) > 5]
result

['banana', 'oragne']

In [63]:
'ABCD'.lower()
'abcd'.upper()

'ABCD'

In [61]:
sample = '나는 지금 집에 너무 가고싶다'
sample.split(' ')[2]

'집에'

In [57]:
# list comprehension quiz time! 
datas = [
    'kim test', 
    'cho python', 
    'park data', 
    'Kim jupyter', 
    'jung notebook', 
    'KIM vscode'
    ]

In [58]:
# 1. kim 씨 성을 가진 사람을 제외한 나머지 사람의 이름만 리스트로 출력
# ['python', 'data', 'notebook']

In [71]:
no_kims = [] 

for data in datas:
    # print(data)
    if data.split(' ')[0].lower() != 'kim':
        no_kims.append(data.split(' ')[1])

no_kims

['python', 'data', 'notebook']

In [72]:
no_kims = [
    data.split(' ')[1] for data in datas 
    if data.split(' ')[0].lower() != 'kim'
    ]
no_kims

['python', 'data', 'notebook']