In [1]:
# 반복문 종류 
# while, for 
# 조건, 횟수

## for 문에서 자주 사용하는 함수
- range
- enumerate
- zip

In [5]:
# 0부터 9까지 숫자가 담긴 리스트 데이터를 만들어주세요
li = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
# 0부터 50까지 숫자가 담긴 리스트 데이터를 만들어주세요
print(list(range(51)))  # end

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [9]:
# 0부터 100까지 숫자가 담긴 리스트 데이터를 만들어주세요
list(range(101))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [12]:
range(5, 10)  # (start, end)

range(5, 10)

In [14]:
list(range(5, 10, 2))  # (start, end, stride)

[5, 7, 9]

In [17]:
list(range(5))

[0, 1, 2, 3, 4]

In [18]:
result = 0
for number in range(100):
    result = result + number
    print(result)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950

### enumerate() 함수 
- 순서가 있는 데이터 타입(리스트, 튜플, 딕셔너리)을 입력으로 받아
- iterable
- 각 요소(element)의 인덱스와 값을 함께 반환합니다

In [26]:
a = 1 
b = 3
print(a, b)

c, d = 3, 4 
print(c, d)

1 3
3 4

In [24]:
for idx, data in enumerate(list(range(5))):
    print(idx, data)

0 0
1 1
2 2
3 3
4 4

### zip() 함수

In [28]:
pop_dict = {'서울':500, '대구':300, '부산':200}
pop_dict

{'서울': 500, '대구': 300, '부산': 200}

In [29]:
city = ['서울', '대구', '부산']
pop = [500, 300, 200]

In [33]:
a, d = (3, 4)
print(a, d)

3 4

In [34]:
list(zip(city, pop))

[('서울', 500), ('대구', 300), ('부산', 200)]

In [39]:
for idx, (city_name, pop_value) in enumerate(list(zip(city, pop))):
    print(idx, city_name, pop_value)

0 서울 500
1 대구 300
2 부산 200

In [40]:
## 2중 for문 
## 구구단

In [41]:
for i in range(2, 10):
    for j in range(1, 10):
        print(f'{i} * {j} = {i * j}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [42]:
# 사용되지 않지만, 선언이 되어야 하는 변수명은 _ 로 사용 
# 식별자가 중복되지 않도록 하기 위해서

In [45]:
_, b = 3, 4
print(_, b)

3 4

## 3. list comprehension
- 리스트 데이터를 만드는 문법

In [46]:
li = [1, 3, 6, 9]

In [49]:
result = [] 
for i in li:
    data = i ** 2
    result.append(data)
result

[1, 9, 36, 81]

In [54]:
result = [i + 2 for i in li]
result

[3, 5, 8, 11]